/* divs */
/* .grid-cell {
    margin: 20px;
} */

.btn {
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px;
    /* border: solid 1px black; */
    color: white;
    border-radius: 5px;
}

#reset {
    background-color: gray;
}


/* html title */
.title {
    font-family: 'Montserrat', sans-serif;
    margin-top:  1px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    color: #ffffff;
}

.idiom-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-anchor: middle;
    text-align: center;
    margin-top:  1px;
    margin-bottom: 0.5px;
    margin-left: 0px;
    margin-right: 0px;
    color: #ffffff;
}


/* text on axis */
.axisSubtitle {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
}

.axisLabel {
    font-family: 'Montserrat', sans-serif;
    fill: #ffffff;
    font-weight: bold;
    font-size: 16px;
}


/* map */
.paths-map {
    fill: #a9a9a9;
    stroke: #000000;
}

/* bars on barchart */
.bars-style {
    fill: #a9a9a9;
    stroke: #ffffff;
}

/* Linechart */
.line-lineplot {
    fill: none;
    stroke-width: 2px;
}


/* Network link*/
.network-link {
    fill: none;
    stroke-width: 2px;
    stroke:#aaa
}

/* Network node */
.network-node {
    fill: #69b3a2;
}


/* Lollipop lines */
.lines-lollipop {
    stroke: #a9a9a9;
    stroke-width: 2;
}

/* Lollipop circles */
.circle-lollipop {
    fill: #a9a9a9;
    stroke: #a9a9a9;
}

/* tooltip for hovering */
.tooltip {
    position: absolute;
    text-align: center;

    border: 0px;
    border-radius: 5px;
    
    opacity: 0.5;
    background: black;
    color: white;
    fill: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    
    padding: 5px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}